{% extends "base.html" %}
{% block content %}
<form method="post" action="">{% csrf_token %}
{% for field in nthemes %}
    <dt>{{ field.label_tag }}</dt>
    <dd class="clearfix">{{ field }}
    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
    {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
    </dd>
{% endfor %}
<input type="submit" value="Add theme" / class="clearfix">
<input type="hidden" name="next" value="{# url #}" />
</form>
{% endblock %}